<md-dialog style="min-width: 55%;" ng-init="getClubList()">
    <div>

        <md-toolbar class="toolbar-bg md-whiteframe-4dp">
            <div class="md-toolbar-tools" layout="row">
                <h2 layout-align="start" class="ft_fff" ng-show="!updateButton">Create Manager </h2>
                <h2 layout-align="start" class="ft_fff" ng-show="updateButton">Update Manager </h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>

            <md-divider></md-divider>
            <div layout="column" class="club_managerCreate">
                <div layout="row" layout-sm="column">
                    <div layout="column" layout-margin flex="70" flex-sm="100">
                        <div layout="row" flex>
                                 <span flex class="padd">
                     <md-input-container>
                         <label>User Name</label>
                         <input ng-model="manager.userName" type="text" required>
                     </md-input-container>
                  </span>
                        <span flex>
                     <md-input-container>
                         <label>Password</label>
                         <input ng-model="manager.password" type="password" ng-disabled="updateButton">
                     </md-input-container>
                  </span>
                        </div>
                        <div layout="row" layout-margin flex>

                         <span flex>
                     <md-input-container>
                         <label>Select Club</label>
                         <md-select ng-model="manager.club" ng-model-options="{trackBy: '$value.clubName'}" ng-disabled="updateButton">
                             <md-option ng-repeat="club in clubs" ng-value="club" >
                                 {{club.clubName}}
                             </md-option>

                         </md-select>
                     </md-input-container>
                  </span>

                        </div>

                    </div>

                    <div layout="column" layout-margin layout-align-sm="center center" flex="25" flex-sm="100">
                        <label for="file-upload">
                            <img ng-src="{{manager.profile.profilePic}}" class="manager_avatar  ">
                        </label>

                        <input id="file-upload" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                               ngf-resize="{width: 100, height: 100}" class="nodisplay" ng-change="uploadFile()">

                    </div>
                </div>
                <md-card class="marg-t10">
                    <md-toolbar class="toolbar-bg md-whiteframe-4dp">
                        <div class="md-toolbar-tools" layout="row">
                            <h3 layout-align="start" class="ft_fff">Manager Profile : </h3>
                        </div>
                    </md-toolbar>
                    <div layout="row" layout-sm="column" layout-margin class="club_profile padd-t10">
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="images/icons/user.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.profile.firstName" type="text" placeholder="First Name" required>
          </md-input-container>
           </span>
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="images/icons/user.svg"  class="email nomarg"></md-icon>
              <input ng-model="manager.profile.lastName" type="text" placeholder="Last Name" required>
          </md-input-container>   </span>

                    </div>

                    <div layout="row" layout-sm="column" layout-margin class="club_profile padd-t10">
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/situation.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.address.address1" type="text" placeholder="Address Lane 1">
          </md-input-container>
           </span>
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/pin66.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.address.address2" type="text" placeholder="Address Lane 2">
          </md-input-container>   </span>

                    </div>
                    <div layout="row" layout-sm="column" layout-margin class="padd-t10 club_profile">
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/city36.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.address.city" type="text" placeholder="City">
          </md-input-container>
           </span>
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/europe4.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.address.state" type="text" placeholder="State">
          </md-input-container>   </span>

                    </div>
                    <div layout="row" layout-sm="column" layout-margin class="padd-t10 club_profile">
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/flag86.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.address.country" type="text" placeholder="Country">
          </md-input-container>
           </span>
        <span flex>
            <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
                <md-icon md-svg-src="img/icons/parking29.svg" class="email nomarg"></md-icon>
                <input ng-model="manager.address.pin" type="text" placeholder="Pin">
            </md-input-container>  </span>

                    </div>
                    <div layout="row" layout-sm="column" layout-margin class=" padd-t10 club_profile">
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/phone21.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.profile.mobile" type="text" placeholder="phone" required>
          </md-input-container>
           </span>
        <span flex>
          <md-input-container md-no-float class="md-input-has-placeholder md-block md-has-icon">
              <md-icon md-svg-src="img/icons/email19.svg" class="email nomarg"></md-icon>
              <input ng-model="manager.profile.email" type="text" placeholder="Email" required>
          </md-input-container>   </span>

                    </div>


                    <div layout="row" layout-margin layout-align="center center">
        <span>
          <md-button class="md-raised md-primary" ng-click="save(manager)" ng-show="!updateButton">Save</md-button>
             <md-button class="md-raised md-primary" ng-click="update(manager)" ng-show="updateButton">Update
             </md-button>
           </span>
       <span>
                  <md-button class="md-raised md-primary" ng-click="cancel()" >Cancel</md-button>

               </span>

                    </div>


                </md-card>

            </div>
        </md-content>

    </div>
</md-dialog>


